Please put in your email and we will send you a link to resetting your password!
<form action="/forgot_password" method="get">
	<input type="text" name="email" placeholder="max@mustermann.de">
	<input type="submit" value="reset password">
</form>