<ul>
	<% if current_user %>
		<div id="new-link">
			<form action="/links" method="post" class="form-inline">
				<input type="text" name="url" class="form-group" placeholder="URL">
				<input type="text" name="title" class="form-group" placeholder="Title">
				<input type="submit" value="Add link" class="btn btn-default">
			</form>
		</div>
	<% end %>
	<% @links.each do |link| %>
		<li><div class="panel panel-default">
		  		<div class="panel-heading">
		  			<%= link.title %>
		  		</div>
		 	 	<div class="panel-body">
		    		<a href="<%= link.url %>">Open this Website</a>
		  		</div>
			</div>
		</li>
	<% end %>
</ul>