<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheet.css" />
</head>
<body>
	  <nav class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container">
	  <div class="btn-group">
	  <a href="/"><img src="/bookmark.png" id="bookmark-img"></a>
	  <a href="/users/new">
	  	<button type="button" class="btn btn-default" >Sign up</button>
	  </a>
	  <a href="/sessions/new">
	  	<button type="button" class="btn btn-default" href="/sessions/new">Sign in</button>
	  </a>
	  <a href="/forgotten_password">
	  	<button type="button" class="btn btn-default" href="/forgotten_password">Forgot Password?</button>
	  </a>
</div>
	
</nav>
	<%= yield %>
	<% if current_user %>
	Welcome, <%= current_user.email %>
	<form method="post" action="/sessions">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign out">
	</form>
	<% end %>
	
	<% if flash[:notice] %>
	<div id="notice">
		<%= flash[:notice] %>
	</div>
	<% end %>
	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form.
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>
	<script src="bootstrap.min.js" />
</body>