<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheet.css" />
	<link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<% if current_user %>
			<form method="post" action="/sessions">
			<a href="/"><img src="/bookmark.png" id="bookmark-img"></a>
			Welcome, <%= current_user.email %>
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Sign out" class="btn btn-default">
			</form>
		<% else %>
			<a href="/"><img src="/bookmark.png" id="bookmark-img"></a>
			<a href="/sessions/new">
				<button type="button" class="btn btn-default" href="/sessions/new">Login</button>
			</a>
			<a href="/forgotten_password">
				<button type="button" class="btn btn-default" href="/forgotten_password">Forgot Password?</button>
			</a>
		<% end %>
	</div>
</nav>
	<%= yield %>
	
	<% if flash[:notice] %>
	<div id="notice">
		<%= flash[:notice] %>
	</div>
	<% end %>
	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form.
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>
	<script src="bootstrap.min.js" />
</body>